@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bine ati venit pe Flyer</h1>
    <p>Compania care te va ajuta sa iti gasesti cele mai conveabile bilete pentru calatoriile tale</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
